@media screen and (max-width: 578px) {
  /* defaults start*/
  header,
  main {
    padding: 1rem;
    padding-top: 0;
  }
  /* defaults start*/
  /* nav start */
  nav ul,
  nav {
    flex-direction: column;
  }
  nav ul {
    gap: 1rem;
  }
  /* nav end */
  /* shared start */
  .description {
    font-size: 0.8rem;
  }
  .btn-primary {
    padding: 0.6rem 1.2rem;
    font-size: 0.8rem;
  }
  /* shared end */
  /* banner start */
  .banner {
    aspect-ratio: auto;
    padding: 2rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }
  .banner-title {
    font-size: 1.5rem;
  }
  .banner form {
    margin-top: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .banner p {
    padding: 0 1rem;
  }
  /* banner end */

  /* tours start */
  .tours {
    flex-direction: column;
    gap: 2rem;
  }
  .tours > * {
    width: 100%;
  }
  .tours-title {
    font-size: 1.25rem;
  }
  .tours ul {
    font-size: 0.8rem;
  }
  /* tours end */
}
