@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

/* defaults start*/
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header,
main {
  padding: 8rem;
  padding-top: 0;
  padding-bottom: 6rem;
}

* {
  transition: 1s ease all;
  font-family: Mulish;
}

a,
button {
  cursor: pointer;
}

/* defaults end*/

/* sheared start */
.text-primary {
  color: #ff5400;
}

.description {
  color: #131318b3;
}

.btn-primary {
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border: none;
  background: #ff5400;
  color: white;
  padding: 0.8rem 1.5rem;
  box-sizing: border-box;
}

.title {
  font-size: 2.25rem;
  display: flex;
  align-items: center;
  margin: 0;
  gap: 1rem;
  color: #131318;
  font-weight: 800;
  margin: 0;
}

.title img {
  width: 1em;
}

.hide {
  display: none;
}

/* sheared end */

/* header start */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

nav ul {
  padding: 0;
  display: flex;
  gap: 2rem;
  list-style: none;
  text-align: center;
}

nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul a {
  text-decoration: none;
  color: #424247;
  font-size: 1.125rem;
  font-weight: 400;
}
.menu-icon {
  display: none;
}
/*    banner start */
.banner {
  aspect-ratio: 1170/500;
  border-radius: 1rem;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8),
      rgba(19, 19, 24, 0)
    ),
    url("../images/Group\ 13\ \(1\)\ \(1\).png");
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 11.5rem;
  box-sizing: border-box;
}

.banner > div {
  text-align: center;
}

.banner-title {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
}

.banner p {
  padding: 0 3rem;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.74);
}

.banner form {
  margin-top: 3rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 0.8rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.banner form > *,
.news-letter-content form > * {
  border: 0;
  padding: 0.8rem 1.5rem;
  box-sizing: border-box;
  outline: 0;
  border-radius: 0.5rem;
  display: block;
  width: 100%;
}

.banner form .btn-primary {
  min-width: max-content;
}

.banner form select,
.banner form input::placeholder {
  color: rgba(19, 19, 24, 0.5);
}

/*    banner end */
/* header end */
/* main start */
/*    tours start */
.tours {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.tours > * {
  width: 50%;
}

.tours-title {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
}

.tours ul {
  padding-left: 1.5rem;
  color: #131318b3;
}

.tours-banner img {
  width: 100%;
  border-radius: 1rem;
}

.tours .description {
  margin-bottom: 2rem;
}

/*    tours end */
/*    destination start */
.destination {
  margin-top: 6rem;
  text-align: center;
}

.destination-title {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
}

.destination > .description {
  width: 70%;
  margin: 1rem auto 3rem;
}

.destination-img-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1.5rem;
}

.destination-img-container img {
  width: 100%;
  height: 18rem;
  object-fit: cover;
  border-radius: 1rem;
  filter: brightness(90%);
}

.destination-img-container > div {
  position: relative;
  cursor: pointer;
}

.destination-img-container > div:hover {
  transform: scale(0.9);
  filter: saturate(150%);
}

.destination-img-container > div h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.75rem;
  font-weight: 800;
  margin: 0;
}

.destination-img-1 {
  grid-area: 1 / 1 / 2 / 6;
}

.destination-img-2 {
  grid-area: 1 / 6 / 2 / 11;
}

.destination-img-3 {
  grid-area: 2 / 1 / 3 / 4;
}

.destination-img-4 {
  grid-area: 2 / 4 / 3 / 8;
}

.destination-img-5 {
  grid-area: 2 / 8 / 3 / 11;
}

.destination-img-6 {
  grid-area: 3 / 1 / 4 / 5;
}

.destination-img-7 {
  grid-area: 3 / 5 / 4 / 11;
}

/*    destination end */
/*    why-choose-us start */
.why-choose-us {
  margin-top: 4rem;
  text-align: center;
}

.why-choose-us-title {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
  margin: 2rem 0 1.5rem;
}

.why-choose-us > p {
  width: 70%;
  margin: 0 auto;
}

.why-choose-us-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 3rem;
}

.why-choose-us-card-container > .card {
  width: calc(50% - 1.5rem / 2);
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 1rem;
  padding: 2rem;
  text-align: left;
}

.why-choose-us-card-container .card-title {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
  margin: 2rem 0 1rem;
}

.card:nth-child(2n + 1) {
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}

.card:nth-child(2n) {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}

/*    why-choose-us end */
/*    news-letter start */
.news-letter {
  margin-top: 5rem;
  display: flex;
  gap: 1.5rem;
}

.news-letter-content {
  padding: 2.5rem;
  box-sizing: border-box;
  border-radius: 1rem;
  border: 1px solid #ff5400;
}

.news-letter-content form {
  border-top: 1px solid rgba(19, 19, 24, 0.1);
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}

.news-letter-content form * {
  border: 0;
  padding: 0.8rem 1.5rem;
  box-sizing: border-box;
  outline: 0;
  border-radius: 0.5rem;
  display: block;
  width: 100%;
  background: #ff5400;
  color: white;
}

.news-letter-content form input {
  margin-bottom: 1rem;
  background: rgba(19, 19, 24, 0.05);
}

.news-letter-banner {
  position: relative;
}

.news-letter-banner img {
  width: 100%;
  height: 100%;
}

.discount-container {
  border-radius: 1rem;
  background: #ff5400;
  transform: rotate(-19.628deg);
  display: inline-block;
  padding: 1.4rem 1.8rem;
  position: absolute;
  bottom: 2.7rem;
  right: 0.5rem;
}

.discount-container * {
  margin: 0;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
}

.discount-title {
  font-size: 2rem;
  font-weight: 800;
  margin-top: 0.5rem;
}

/*    news-letter end */
/*    optional section start */
.get-lost {
  display: flex;
  margin-top: 4rem;
  gap: 1.8rem;
  align-items: center;
}
.get-lost-title {
  color: #131318;
  font-size: 2rem;
  font-weight: 800;
  margin: 0;
}
.get-lost > * {
  width: calc(50% - 1.8rem / 2);
}
.get-lost ul {
  padding-left: 1.5rem;
  font-size: 0.8rem;
  width: 80%;
  font-weight: bold;
}
.get-lost-banner img {
  width: 100%;
  object-fit: cover;
}
/* &&&&&& */
.deals-discounts {
  margin-top: 4rem;
  text-align: center;
}
.deals-discounts-title {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
}
.deals-discounts > .description {
  width: 70%;
  margin: 0 auto;
}
.deals-discounts-card {
  padding: 3rem;
  border-radius: 1rem;
  text-align: left;
  margin-top: 3rem;
}
.deals-discounts-card:nth-child(2n + 1) {
  background: url("../images/Group\ 40.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.deals-discounts-card:nth-child(2n) {
  background: url("../images/Group\ 39.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.deals-discounts-card:nth-child(2n) > div {
  margin-left: auto;
}
.deals-discounts-card > div {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  padding: 2rem;
  width: 50%;
  box-sizing: border-box;
}
.deals-discounts-card .description {
  color: rgba(0, 0, 0, 0.8);
}
.price {
  color: #ff5400;
}
/*    optional section end */
/*    unique section start */
.get-instant-discounts {
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border: 1px solid #ff5400;
  border-radius: 0.5rem;
  margin-top: 4rem;
}
.get-instant-discounts button {
  margin: 1rem 0.5rem 0 0;
}
/* &&&& */
.activities {
  margin-top: 4rem;
}
.activities-title {
  font-size: 2.5rem;
  margin: 0;
}
.activities .description {
  width: 70%;
  margin: 1rem 0;
}
.activities-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}
.activities-card {
  text-align: center;
  border: 1px solid #ff5400;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
}
/*    unique section end */
/* main end */
/* footer start */
footer {
  padding: 4rem 8rem;
  text-align: center;
  background: rgba(19, 19, 24, 0.05);
}

footer > .title {
  width: min-content;
  margin: 0 auto;
}

footer hr {
  border-color: rgba(19, 19, 24, 0.1);
  margin: 2rem 0;
}

.social-icon-container {
  margin-top: 3rem;
}

.social-icon-container > a {
  color: #131318;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 1rem;
}
.social-icon-container > a:hover {
  transition: 0.1s all;
  color: #ff5400;
}

/* footer end */
