/* defaults start*/
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header,
main {
  padding: 8rem;
  padding-top: 0;
  padding-bottom: 6rem;
}
* {
  font-family: Mulish;
}
a,
button {
  cursor: pointer;
}
/* defaults end*/

/* sheared start */
.text-primary {
  color: #ff5400;
}
.description {
  color: #131318b3;
}
.btn-primary {
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border: none;
  background: #ff5400;
  padding: 0.8rem 1.5rem;
  color: white;
}
/* sheared end */

/* header start */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}
.nav-title {
  font-size: 2.25rem;
  display: flex;
  gap: 1rem;
  color: #131318;
  font-weight: 800;
  margin: 0;
  margin-bottom: 1rem;
}
.nav-title img {
  width: 1em;
}
nav ul {
  padding: 0;
  display: flex;
  gap: 2rem;
  list-style: none;
  text-align: center;
}
nav ul a {
  text-decoration: none;
  color: #424247;
  font-size: 1.125rem;
  font-weight: 400;
}
/*    banner start */
.banner {
  aspect-ratio: 1170/500;
  border-radius: 1rem;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8),
      rgba(19, 19, 24, 0)
    ),
    url("../images/Group\ 13\ \(1\)\ \(1\).png");
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 11.5rem;
  box-sizing: border-box;
}
.banner > div {
  text-align: center;
}
.banner-title {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
}
.banner p {
  padding: 0 3rem;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.74);
}
.banner form {
  margin-top: 3rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 0.8rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
}
.banner form > * {
  border: 0;
  padding: 0.8rem 1.5rem;
  box-sizing: border-box;
  outline: 0;
  border-radius: 0.5rem;
  display: block;
  width: 100%;
}
.banner form select,
.banner form input::placeholder {
  color: rgba(19, 19, 24, 0.5);
}
/*    banner end */
/* header end */
/* main start */
/*    tours start */
.tours {
  display: flex;
  align-items: center;
  gap: 5rem;
}
.tours > * {
  width: 50%;
}
.tours-title {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
}
.tours ul {
  padding-left: 1.5rem;
  color: #131318b3;
}
.tours-banner img {
  width: 100%;
  border-radius: 1rem;
}
/*    tours end */
/* main end */
